<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 绑定一个对应的 Dao/Mapper接口 -->
<mapper namespace="com.lzw.dao.UserDao">
<!--    查询语句-->
<!--        id对应原来JDBC中的方法名-->
    <select id="getUserList" resultType="com.lzw.pojo.User">
        select * from jdbc_learn.user
    </select>

</mapper>